SOAPBicipalmaAxis2/resources/Bicipalma.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Bicipalma" targetNamespace="https://api.mobipalma.mobi/docs/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:emt="https://api.mobipalma.mobi/docs/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="https://api.mobipalma.mobi/docs/"> 
					<!-- elemento globales y locales qualified por exigencia SOAP  -->

			<xsd:element name="estadoEstacionRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="idEstacion" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="estadoEstacionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="estacion" type="emt:Estacion"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Estacion">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element name="direccion" type="xsd:string"/>
					<xsd:element name="numeroAnclajes" type="xsd:int"/>
					<xsd:element name="anclajes" type="emt:Anclajes"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Anclajes">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="bicicleta" type="emt:Bicicleta"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="Bicicleta">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{3}|null"/>
				</xsd:restriction>
			</xsd:simpleType>
			
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="estadoEstacionRequest">
    <wsdl:part name="parameters" element="emt:estadoEstacionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="estadoEstacionResponse">
    <wsdl:part name="parameters" element="emt:estadoEstacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Bicipalma">
    <wsdl:operation name="estadoEstacion">
      <wsdl:input message="emt:estadoEstacionRequest">
    </wsdl:input>
      <wsdl:output message="emt:estadoEstacionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BicipalmaSOAP" type="emt:Bicipalma">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="estadoEstacion">
      <soap:operation soapAction="https://api.mobipalma.mobi/docs/estadoEstacion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bicipalma">
    <wsdl:port name="BicipalmaSOAP" binding="emt:BicipalmaSOAP">
      <soap:address location="http://localhost:8080/BicipalmaSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
